.app{
  height: 100vh;
  width: 50%;
}

.accordion-header{
  background: white;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 2px;
  text-align: left;
  font-size: 15px;
  transition: all .30s linear;
}

.title{
  color: black;
  font-weight: 400;
}

.content{
  color: rgb(163, 163, 163);
}

.arrow{
  float: right;
  color: black;
}

.top-accordion-header{
  display: inline-flex;
  background: white;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 2px;
  text-align: left;
  font-size: 15px;
  transition: all .30s linear;

}
.info .title{
  margin: 0;
}

.info{
  margin-right: 50px;
  padding-left: 15px;
  display: block;
  text-align: left;
}

.icon{
  align-content: center;
  align-items: center;
  justify-content: center;
}

.arrow-holder{
  width: 90%;
  text-align: end;
}

.info .p-info{
  margin: 0;
  font-size: 9px;
  color: rgb(187, 187, 187);
}

